extends layout

block content
    h1= title
    div
      form(action="/article/"+article[0].id+"/update" method="POST")
      p Name:
        input(type="text" name="name" placeholder="" value=article[0].name)
      p Content:
        input(name="content" placeholder="" value=article[0].content)

      p author:
        input(type="text" name="author" placeholder="" value=article[0].author)
      input(type="submit")
