extends layout

block content
  h1= title
  p Welcome to #{title}
  div
  each val in articles
     div(class="article")
        h2=val.name+' Автор: '+val.author
        p(class="article-content")=val.content
        p=val.created_at
        a(href='/article/'+val.id) Редактировать
